body {
	font: 24px/30px 'Noto Sans CJK KR', Noto Sans KR, sans-serif
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400,300);
.frame {
	position: absolute;
	top: 30%;
	left: 70%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -500px;
	border-radius: 2px;
	box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	background: #28404e;
	background: -moz-linear-gradient(top, #28404e 0%, #1c2e38 100%);
	background: -webkit-linear-gradient(top, #28404e 0%, #1c2e38 100%);
	background: linear-gradient(to bottom, #28404e 0%, #1c2e38 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#28404e', endColorstr='#1c2e38',GradientType=0);
	color: #fff;
	font-family: 'Open Sans', Helvetica, sans-serif !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}
 .center {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
}
 .headline {
	 font-weight: 600;
	 font-size: 24px;
	 text-transform: uppercase;
	 text-align: center;
	 line-height: 22px;
}
 .headline .small {
	 font-weight: 300;
	 font-size: 16px;
}
 .circle-big {
	 position: relative;
	 width: 114px;
	 height: 114px;
	 margin: 30px auto 25px auto;
}
 .circle-big svg {
	 width: 114px;
	 height: 114px;
}
 .circle-big .bg {
	 fill: none;
	 stroke-width: 10px;
	 stroke: #1b2a33;
}
 .circle-big .progress {
	 fill: none;
	 stroke-width: 10px;
	 stroke: #27e1ae;
	 stroke-linecap: round;
	 stroke-dasharray: 326.56;
	 stroke-dashoffset: 327;
	 transform: rotate(-90deg);
	 transform-origin: 50% 50%;
	 animation: big 1.5s ease-out;
}
 .circle-big .text {
	 position: absolute;
	 width: 100%;
	 top: 37px;
	 font-size: 24px;
	 text-align: center;
	 font-weight: 400;
	 line-height: 22px;
}
 .circle-big .text .small {
	 font-size: 14px;
	 color: #648192;
}
 .circles-small {
	 margin: 0 auto;
	 width: 400px;
	 height: 80px;
	 text-align: center;
}
 .circle-small {
	 display: inline-block;
	 position: relative;
	 width: 80px;
	 height: 80px;
	 margin: 0 20px;
}
 .circle-small svg {
	 width: 80px;
	 height: 80px;
}
 .circle-small .bg {
	 fill: none;
	 stroke-width: 6px;
	 stroke: #1b2a33;
}
 .circle-small .progress {
	 fill: none;
	 stroke-width: 6px;
	 stroke: #5ce1ec;
	 stroke-linecap: round;
	 stroke-dasharray: 232.36;
	 transform: rotate(-90deg);
	 transform-origin: 50% 50%;
}
 .circle-small .progress.one {
	 stroke-dashoffset: 80;
	 animation: one 1.5s ease-out;
}
 .circle-small .progress.two {
	 stroke-dashoffset: 140;
	 animation: two 1.5s ease-out;
}
 .circle-small .text {
	 position: absolute;
	 width: 100%;
	 top: 26px;
	 font-size: 17px;
	 text-align: center;
	 font-weight: 400;
	 line-height: 16px;
}
 .circle-small .text .small {
	 font-size: 12px;
	 color: #648192;
}
body { font-size: 18px; font-weight: 300; line-height: 1.5em; color: #CCEEFF; background: linear-gradient(rgba(10, 50, 55, 0.5), rgba(40, 33, 55, 0.35)), no-repeat top center fixed; background-size: cover; min-height: 100vh; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; }
.container { max-width: 1200px; }

/*--- POMODORO CONTAINER ---*/
.pomodoro {
	margin: 7vh  auto; font-family: 'lobster', p; text-align: center; background: rgba(44, 62, 80, 0.85); max-width: 300px; border: 25px 10% solid rgba(255,255,255,0.07); border-radius: 20%; }

/*--- SESSION BTNS ---*/
.session { font-size: 20px; padding: 10px 0 7px 0; margin: 0 auto; overflow: hidden; border-bottom: 1px solid rgba(255,255,255,0.15); }
.session div { margin: 0px auto; overflow: hidden; width: auto; display: inline-block; }
.session i { font-size: 10px; display: inline-block; height: 24px; width: 24px; line-height: 22px; border-radius: 4px; border: 5px solid rgba(255,255,255,0.2); cursor: pointer; transition: all .25s; overflow: hidden; float: left; }
.session i:hover { background: rgba(255,255,255,1); color: #2c3e50; }
.session i.unselect, .session i.unselect:hover { cursor: default; background: transparent; color: #FFF; opacity: 0.5; }
.session span { display: inline-block; line-height: 1.3em; float: left; width: 40px; }

/*--- COUNTER ---*/
.countdown { display: block; font-size: 110px; line-height: 1em; padding: 85px 0 105px 0; position: relative; overflow: hidden; }
.countdown span { position: relative; z-index: 1;}
.filler { position: absolute; top: 300px; width: 100%; height: 300px; background: rgba(255,255,255,0.2); }

/*--- BUTTONS ---*/
button.btn { display: block; width: 100%; border-radius: 0; border: 0; border-top: 1px solid rgba(255,255,255,0.15); background-color: rgba(0,0,0,0.2); font-size: 21px; padding: 12px 0 10px 0; line-height: 1em; color: #FFFFFF; letter-spacing: 0.05em; transition: all .25s; outline: 0; }
button.btn:hover { color: #2c3e50; background: #FFF; }
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus { outline: 0; color: #FFFFFF; }
.btn.focus, .btn:focus { background-color: rgba(0,0,0,0.2); }